@media (max-width: 1439px) and (min-width: 1241px) {  
    .container {
        max-width: 1439px;
    }

    .header__menu {
        z-index: 3;
    }

    .nav-burger-btn {
        display: none;
    }

    .nav-burger-btn span {
        display: none;
    }

    /* main section */
    /* welcome style */

    .about-button-left {
        display: none;
    }

    .about-button-right {
        display: none;
    }

    .image-gallery-photo:nth-last-child(-n+3) {
        width: 450px;
        height: 560px;
        flex-shrink: 0;
        display: none;
    }

    .image-gallery-photo:nth-child(2) {
        margin-right: 0;
    }

    .about__button-control {
        width: 104px;
        height: 26px;
    }

    .transparent-container-four {
        display: flex;
        width: 26px;
        height: 26px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .transparent-container-five {
        display: none;
    }

    .transparent-container-four button {
        display: flex;
        width: 16px;
        height: 16px;
        margin: 0px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        background: #0C0C0E;
    }

    .button-control-four {
        background: #0C0C0E;
    }

    .button-control-five {
        display: none;
    }

    /* favoit section */

    /* coffee section */ 
    .coffee-shop-paragraf {
        height: 200px;
    }

    /* our-contacts section */ 

    /* digital-library-cards section */ 

    /* footer section */ 
}

@media (max-width: 1240px) and (min-width: 1022px) {  
    .container {
        max-width: 1240px;
    }

    .header__menu {
        z-index: 3;
    }

    .nav-burger-btn {
        display: none;
    }

    .nav-burger-btn span {
        display: none;
    }

    /* main section */
    /* welcome style */

    .about-button-left {
        display: none;
    }

    .about-button-right {
        display: none;
    }

    .image-gallery-photo:nth-last-child(-n+3) {
        width: 450px;
        height: 560px;
        flex-shrink: 0;
        display: none;
    }

    .image-gallery-photo:nth-child(2) {
        margin-right: 0;
    }

    .about__button-control {
        width: 104px;
        height: 26px;
    }

    .transparent-container-four {
        display: flex;
        width: 26px;
        height: 26px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .transparent-container-five {
        display: none;
    }

    .transparent-container-four button {
        display: flex;
        width: 16px;
        height: 16px;
        margin: 0px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        background: #0C0C0E;
    }

    .button-control-four {
        background: #0C0C0E;
    }

    .button-control-five {
        display: none;
    }

    /* favorit section */
    .favorites {
        height: 2629px;
    }

    .container-book {
        display: block;
        height: 2340px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .book {
        justify-content: center;
        margin-top: 0px; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .book:nth-child(4) {
        margin-bottom: 0px;
    }

    /* coffee section */ 

    /* our-contacts section */ 
    .our-contacts {
        height: 995px;
    }
    
    .our-contacts-block {
        height: 894px;
        gap: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .maps {
        width: 100%;
        max-width: 696px;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

    /* digital-library-cards section */ 
    .digital-library-cards {
        display: block;
        height: 857px;
    }

    .digital-library-card-box {
        margin: 40px auto 21px;
    }

    .digital-library-box-reader {
        width: 600px;
        height: 223px;
        margin: 0px auto 40px;
    }

    .digital-library-box-reader-card {
        text-align: center;
        margin: auto;
    }

    .digital-library-box-reader-card-info {
        width: max-content;
        height: 80px;
        margin-top: 40px;
    }

    .reader-card-info {
        display: flex;
        width: 600px;
        text-align: center;
    }

    .digital-library-button-sign {
        width: 600px;
        align-items: center;
        margin: auto;
    }

    .button-box-sign {
        width: 75px;
        justify-content: center;
        align-items: center;
        margin-left: 215px;
    }

    .button-box-log-in {
        width: 75px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    /* footer section */ 
}

@media (max-width: 1021px) and (min-width: 769px) {  
    .container {
        max-width: 1021px;
    }

    .header__menu {
        width: 113px;
        gap: 40px;
        z-index: 3;
        margin-left: 0px;
    }

    .nav-burger-btn {
        display: block;
        position: relative;
        width: 45px;
        height: 20px;
        flex-shrink: 0;
        background-color: #0C0C0E;
        outline: none;
        border: none;
        z-index: 3;
    }

    .nav-burger-btn span {
        display: block;
        position: absolute;
        width: 45px;
        height: 2px;
        background-color: #FFFFFF;
        transition: background-color 0.3s, opacity 0.1s, transform 0.3s;
        will-change: transform;
    }

    .nav-burger-btn span:nth-child(1) {
        transform: translateY(-9px);
    }

    .nav-burger-btn span:nth-child(2) {
        transform: translateY(0px);
    }    

    .nav-burger-btn span:nth-child(3) {
        transform: translateY(9px);
    }

    .header.open .nav-burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(-45deg);
        width: 39px;
    }

    .header.open .nav-burger-btn span:nth-child(2) {
        opacity: 0;
    } 

    .header.open .nav-burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
        width: 39px;
    }

    .nav-burger-btn:active span {
        background-color: #BB945F;
    }

    .header__navigation {
        display: block;
        position: absolute;
        width: 332px;
        height: 570px;
        background: #0C0C0E;
        top: -570px;
        right: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        z-index: 2;
        transition: all 0.3s;
    }

    .header.open .header__navigation {
        top: 0px;
        right: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        z-index: 2;
    }

    .header__nav {
        width: 332px;
        height: 570px;
    }

    .header__list {
        width: 118px;
        height: 370px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 100px 107px;
    }

    /* main section */
    /* welcome style */
    .about {
        height: 837px;
        @media (max-width: 914px) {
            height: 877px;
        }
    }
    
    .about__image-gallery {
        justify-content: center;
        width: 614px;
        margin-left: auto;
        margin-right: auto;
        gap: 58px;
    }

    .image-gallery-photo {
        display: none;
    }

    .image-gallery-photo:first-child {
        display: block;
        width: 450px;
        height: 560px;
        margin-bottom: 25px;
    }

    .about-image {
        display: inline-flex;
        width: 450px;
        height: 560px;
    }

    .about-button-left {
        display: block;
        width: 24px;
        height: 25px;
        color: #0C0C0E;
        margin-left: 0px;
        margin-top: 280px;
        transform: rotate(180deg);
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.1s, transform 0.3s;
    }

    .about-button-right {
        display: block;
        width: 24px;
        height: 25px;
        color: #0C0C0E;
        margin-top: 280px;
        margin-right: 0px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.1s, transform 0.3s;
    }

    .about-button-svg {
        width: 24px;
    }

    .image-gallery-photo:nth-last-child(-n+3) {
        width: 450px;
        height: 560px;
        flex-shrink: 0;
        display: none;
    }

    .image-gallery-photo:nth-child(2) {
        margin-right: 0;
    }

    .about__button-control {
        width: 130px;
        height: 26px;
    }

    .transparent-container-five,
    .transparent-container-four {
        display: flex;
        width: 26px;
        height: 26px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .transparent-container-four button {
        display: flex;
        width: 16px;
        height: 16px;
        margin: 0px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        background: #0C0C0E;
    }

    .transparent-container-five button {
        display: flex;
        width: 16px;
        height: 16px;
        margin: 0px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        background: #0C0C0E;
    }

    .button-control-four {
        background: #0C0C0E;
    }

    .button-control-five {
        background: #0C0C0E;
    }

    /* favorit section */
    .favorites {
        height: 2629px;
    }

    .container-book {
        height: 2340px;
        justify-content: center;
    }
    
    .book:nth-child(4) {
        margin-bottom: 0px;
    }

    /* coffee section */ 
    .coffee-shop {
        height: 1421px;
    }

    .coffee-shop-paragraf {
        height: 200px;
    }

    .coffee-shop-menu {
        display: block;
    }

    .deserts-menu {
        margin-top: 40px;
    }

    /* our-contacts section */ 
    .our-contacts {
        height: 995px;
    }
    
    .our-contacts-block {
        height: 894px;
        gap: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .maps {
        width: 100%;
        max-width: 696px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    /* digital-library-cards section */
    .digital-library-cards {
        height: 857px;
    }

    .digital-library-card-box {
        margin: 40px auto 21px;
    }

    .digital-library-box-reader {
        width: 600px;
        height: 223px;
        margin: 0px auto 40px;
    }

    .digital-library-box-reader-card {
        text-align: center;
        margin: auto;
    }

    .digital-library-box-reader-card-info {
        width: max-content;
        height: 80px;
        margin-top: 40px;
    }

    .reader-card-info {
        display: flex;
        width: 600px;
        text-align: center;
    }

    .digital-library-button-sign {
        width: 600px;
        align-items: center;
        margin: auto;
    }

    .button-box-sign {
        width: 75px;
        justify-content: center;
        align-items: center;
        margin-left: 215px;
    }

    .button-box-log-in {
        width: 75px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
}

@media (max-width: 768px) and (min-width: 635px) {  
    .container {
        max-width: 768px;
    }

    .header__menu {
        width: 113px;
        gap: 40px;
        z-index: 3;
        margin-left: 0px;
    }

    .nav-burger-btn {
        display: block;
        position: relative;
        width: 45px;
        height: 20px;
        flex-shrink: 0;
        background-color: #0C0C0E;
        outline: none;
        border: none;
        z-index: 3;
    }

    .nav-burger-btn span {
        display: block;
        position: absolute;
        width: 45px;
        height: 2px;
        background-color: #FFFFFF;
        transition: background-color 0.3s, opacity 0.1s, transform 0.3s;
        will-change: transform;
    }

    .nav-burger-btn span:nth-child(1) {
        transform: translateY(-9px);
    }

    .nav-burger-btn span:nth-child(2) {
        transform: translateY(0px);
    }    

    .nav-burger-btn span:nth-child(3) {
        transform: translateY(9px);
    }

    .header.open .nav-burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(-45deg);
        width: 39px;
    }

    .header.open .nav-burger-btn span:nth-child(2) {
        opacity: 0;
    } 

    .header.open .nav-burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
        width: 39px;
    }

    .nav-burger-btn:active span {
        background-color: #BB945F;
    }

    .header__navigation {
        display: block;
        position: absolute;
        width: 332px;
        height: 570px;
        background: #0C0C0E;
        top: -570px;
        right: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        z-index: 2;
        transition: all 0.3s;
    }

    .header.open .header__navigation {
        top: 0px;
        right: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        z-index: 2;
    }

    .header__nav {
        width: 332px;
        height: 570px;
    }

    .header__list {
        width: 118px;
        height: 370px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 100px 107px;
    }

    /* main section */
    /* welcome style */
    .about {
        height: 877px;
    }

    .about__image-gallery {
        justify-content: center;
        width: 614px;
        margin-left: auto;
        margin-right: auto;
        gap: 58px;
    }

    .image-gallery-photo {
        display: none;
    }

    .image-gallery-photo:first-child {
        display: block;
        width: 450px;
        height: 560px;
        margin-bottom: 25px;
    }

    .about-image {
        display: inline-flex;
        width: 450px;
        height: 560px;
    }

    .about-button-left {
        display: block;
        width: 24px;
        height: 25px;
        color: #0C0C0E;
        margin-left: 0px;
        margin-top: 280px;
        transform: rotate(180deg);
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.1s, transform 0.3s;
    }

    .about-button-right {
        display: block;
        width: 24px;
        height: 25px;
        color: #0C0C0E;
        margin-top: 280px;
        margin-right: 0px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.1s, transform 0.3s;
    }

    .about-button-svg {
        width: 24px;
    }

    .image-gallery-photo:nth-last-child(-n+3) {
        width: 450px;
        height: 560px;
        flex-shrink: 0;
        display: none;
    }

    .image-gallery-photo:nth-child(2) {
        margin-right: 0;
    }

    .about__button-control {
        width: 130px;
        height: 26px;
    }

    .transparent-container-five,
    .transparent-container-four {
        display: flex;
        width: 26px;
        height: 26px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    .transparent-container-four button {
        display: flex;
        width: 16px;
        height: 16px;
        margin: 0px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        background: #0C0C0E;
    }

    .transparent-container-five button {
        display: flex;
        width: 16px;
        height: 16px;
        margin: 0px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        background: #0C0C0E;
    }

    .button-control-four {
        background: #0C0C0E;
    }

    .button-control-five {
        background: #0C0C0E;
    }

    /* favorit section */
    .favorites {
        height: 2629px;
    }
    
    @media (max-width: 720px) {
        .container-weather {
            margin-right: 50px;
        }
    }

    .container-book {
        height: 2340px;
        justify-content: center;
    }
    
    .book:nth-child(4) {
        margin-bottom: 0px;
    }

    /* coffee section */
    .coffee-shop {
        height: 1421px;
    }

    .coffee-shop-paragraf {
        height: 200px;
    }

    .deserts-menu {
        margin-top: 40px;
    }
    /* our-contacts section */ 
    .our-contacts {
        height: 995px;
    }
    
    .our-contacts-block {
        height: 894px;
        gap: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .maps {
        width: 100%;
        max-width: 696px;
        margin: 0 auto;
    }

    /* digital-library-cards section */
    .digital-library-cards {
        height: 857px;
    }

    .digital-library-card-box {
        margin: 40px auto 21px;
    }

    .digital-library-box-reader {
        width: 600px;
        height: 223px;
        margin: 0px auto 40px;
    }

    .digital-library-box-reader-card {
        text-align: center;
        margin: auto;
    }

    .digital-library-box-reader-card-info {
        width: max-content;
        height: 80px;
        margin-top: 40px;
    }

    .reader-card-info {
        display: flex;
        width: 600px;
        text-align: center;
    }

    .digital-library-button-sign {
        width: 600px;
        align-items: center;
        margin: auto;
    }

    .button-box-sign {
        width: 75px;
        justify-content: center;
        align-items: center;
        margin-left: 215px;
    }

    .button-box-log-in {
        width: 75px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
}