/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  max-width: 1440px;
  scroll-behavior: smooth;
}

* {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  
}

/* header style */
.container {
  max-width: 1440px;
  display: block;
  background-color: #FFF;
  margin: 0px auto;


  &--sm {
    max-width: 640px;
  }
}

a:hover {
  color: #BB945F;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0C0C0E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 90px;
  margin-left: 0px;
  margin-right: 0px;
}

.header__logo {
  display: flex;
  width: max-content;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.header__logo-title {
  width: max-content;
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.header__navigation {
  display: flex;
  align-items: center;
  width: max-content;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  
}

.header__nav {
  width: max-content;
  height: 50px;
}

.header__list {
  width: max-content;
  height: 50px;
  display: flex;
  gap: 30px;
}

.header__list-item {
  width: max-content;
  height: 50px;
  margin: 0px 0px;
}

.header__list-link {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  text-decoration: none;
}

.header__list-link:hover {
  opacity: 75%;
  color: #BB945F;
  cursor: pointer;
  transition: 0.3s;
}

.header__list:last-child {
  margin-right: 0px;
}

.header__list-item {
  list-style: none;
}

.header__menu {
  display: flex;
  width: 28px;
  height: 28px;
  flex-shrink: 0px;
  margin-top: 31px;
  margin-right: 20px;
  margin-bottom: 31px;
  margin-left: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.header__menu-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.header__menu-icon:hover, .header__menu-icon:active, .header__menu-icon:focus {
  background-color: #BB945F;
  cursor: pointer;
  transition: 0.3s;
}

.nav-burger-btn {
  display: none;
}

/*
.header__menu-icon {
  background-image: url(../svg/icon_profile.svg);
}
*/

/* main section */
/* welcome style */
.main {
  background-color: #FFF;
  flex-shrink: 0;
}

.welcome {
  display: flex;
  position: relative;
  height: 600px;
  align-items: center;
}

.welcome-background {
  display: flex;
  width: 100%;
  height: 600px;
  position: absolute;
  background: url(../img/Welcome.jpg), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
}

.welcome__overlay {
  display: flex;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.welcome__box {
  position: absolute;
  width: 520px;
  height: 150px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #0C0C0E;
  margin-top: 220px;
  margin-left: 0px;
}

.welcome__box-title {
  width: max-content;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: auto;
}

/*about section */
.about {
  height: 837px;
  background-color: #FFF;
}

.about__box {
  width: max-content;
  height: 61px;
  padding-top: 20px;
  flex-shrink: 0;
}

.about__box-title {
  width: max-content;
  color: #0C0C0E;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  white-space: nowrap;
}

.about__line {
  display: block;
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
}

.about__paragraf {
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  margin-top: 40px;
}

.about__image-gallery {
  display: flex;
  height: 560px;
  flex-shrink: 0;
  margin-top: 20px;
  background: #FFF;
  margin-left: 20px;
  margin-right: 20px;
}

.about-image {
  display: inline-block;
  height: 560px;
}

.about-button-left {
  display: none;
}

.image-gallery-photo {
  margin-left: 0px;
  margin-right: 21px;
}

.image-gallery-photo:nth-child(3) {
  margin-right: 0;
}

.image-gallery-photo:nth-last-child(-n+2) {
  width: 450px;
  height: 560px;
  flex-shrink: 0;
  display: none;
}

.about-button-right {
  display: none;
}

.about__button-control {
  display: flex;
  align-items: center;
  background-color: #FFF;
  width: 78px;
  height: 26px;
  padding: 0px 0px;
  margin-top: 35px;
  margin-bottom: 35px;
  flex-shrink: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  justify-content: center;
}

.transparent-container {
  display: flex;
  width: 26px;
  height: 26px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.transparent-container button {
  width: 16px;
  height: 16px;
  margin: 0px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-control-left {
  background: #BB945F;
}

.button-control-center {
  background: #0C0C0E;
}

.button-control-right {
  background: #0C0C0E;
}

.transparent-container-four {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.transparent-container-five {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.button-control-four {
  align-items: center;
  cursor: pointer;
  background: #0C0C0E;
  display: none;
}

.button-control-five {
  align-items: center;
  cursor: pointer;
  background: #0C0C0E;
  display: none;
}

/* favoit section */
.favorites {
  height: 1439px;
  flex-shrink: 0;
}

.favorites-box {
  width: max-content;
  height: 41px;
  flex-shrink: 0;
  padding-top: 20px;
  justify-content: center;
}

.favorites-box-title {
  width: max-content;
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  white-space: nowrap;
}

.favorites-line {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
  margin-top: 20px;
}

.favorites-text {
  display: flex;
  width: max-content;
  height: 24px;
  margin-top: 40px;
  margin-left: 20px;
}

.favorites-text-title {
  width: max-content;
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-favorites {
  display: flex;
  width: max-content;
  height: 24px;
  flex-shrink: 0;
  margin-left: 20px;
  margin-top: 40px;
  align-items: center;
  gap: 85px;
}

.container-weather {
  display: flex;
  align-items: center;
  justify-content: left;
 
}

.radio-size {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  stroke-width: 2px;
  margin-right: 15px;
  cursor: pointer;
}

.radio-label {
  width: max-content;
  height: 24px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px;
}

.radio-size:checked {
  padding: 5px;
}

input[type="radio"] {
  accent-color: #0C0C0E;
}

.radio-label:hover, .radio-label:focus, .radio-label:active {
  font-weight: 700;
  cursor: pointer;
}

.container-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 1150px;
  flex-shrink: 0;
  background: #FFF;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  word-wrap: break-word;
}

.book {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 550px;
  height: 552.3px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #FFF;
  margin-left: 0px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.book:nth-last-child(-n+12) {
  display: none;
}

.pick-book {
  width: max-content;
  height: 40px;
  margin-left: 20px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-left: 0px;
}

.pick-book-text {
  width: max-content;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  white-space: nowrap;
  margin-left: 20px;
}

.line {
  width: max-content;
  margin-left: 20px;
}

.boock-line {
  width: 60px;
  height: 1px;
  background: #BB945F;
  margin-left: 0px;

}

.book-name {
  width: max-content;
  height: 80px;
  color: #000000;
  margin-top: 20px;
  margin-left: 20px;
}

.book-name-text-upper {
  display: flex;
  width: max-content;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 0px;
}

.book-name-text {
  width: max-content;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0px;
}

.book-description {
  display: flex;
  width: 355px;
  height: 320px;
  margin-left: 20px;
  word-wrap: break-word;
  margin-top: 20px;
}

.book-description-text {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  word-wrap: break-word;
}

.button-buy {
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFF;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
  width: 21px;
  height: 12px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 8px 26px;
}

.button-buy:hover {
  outline: none;
  background-color: #BB945F;
  border-color: #BB945F;
  transition: 0.3s;
}

.button-own {
  display: inline-block;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background-color: #FFF;
  margin-top: 15px;
  margin-left: 20px;
  width: 25px;
  height: 12px;
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 8px 26px;
}

.book-cover {
  display: flex;
  width: 200px;
  height: 300px;
  flex-shrink: 0;
  margin-top: -289px;
  margin-left: 390px;
}

.book-cover{
  background-repeat: no-repeat;
  color: lightgray 50%;
}


/* coffee section */ 
.coffee-shop {
  display: flex;
  height: 781px;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #FFF;
}

.coffee-shop-box {
  width: max-content;
  height: 61px;
}

.coffee-shop-title {
  width: max-content;
  text-align: center;
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-shop-line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
  margin-top: 20px;
}

.coffee-shop-paragraf {
  height: 120px;
}

.coffee-shop-paragraf-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
}

.coffee-shop-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 520px;
}

.coffee-and-tea-menu {
  width: 440px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin-left: 0px;
}

.coffee-and-tea-menu-name {
  width: max-content;
  height: 40px;
  margin-left: 0px;
}

.coffee-and-tea-menu-name-text {
  width: max-content;
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.drink {
  width: 445px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
}

.drink-name {
  width: 199px;
  height: 40px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.menu-line {
  width: 100px;
  height: 1px;
  background: #BB945F;
}

.drink-price {
  width: max-content;
  height: 40px;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.deserts-menu {
  display: flex;
  width: 482px;
  height: 520px;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0px;
}

.deserts-menu-name {
  display: flex;
  width: max-content;
  height: 40px;
}

.deserts-menu-name-text {
  width: max-content;
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 165px;
}

.deserts {
  width: 482px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.deserts-name {
  text-align: right;
  width: 210px;
  height: 40px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-line {
  width: 100px;
  height: 1px;
  margin-left: 0px;
  margin-right: 0px;
  background: #BB945F;
}

.deserts-price {
  width: max-content;
  height: 40px;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

/* our-contacts section */ 
.our-contacts {
  display: flex;
  height: 515px;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #FFF;
}

.our-contacts-box {
  height: 61px;
}

.our-contacts-title {
  display: flex;
  width: max-content;
  color: #0C0C0E;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.our-contacts-line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
  margin-top: 20px;
}

.our-contacts-block {
  width: 100%;
  height: 414px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-info {
  width: 505px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0px;
  margin-left: 0px;
}

.block-info-contact {
  width: max-content;
  height: 40px;
  margin-left: 0px;
}

.text-info-contact {
  width: max-content;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0px;
}

.Phone-info {
  width: 505px;
  height: 160px;
  flex-shrink: 0;
  margin-top: 40px;
}

.phone-gap {
  width: max-content;
  height: 40px;
  margin-left: 0px;
}

.Phone-info-call {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.phone-gap2 {
  width: max-content;
  height: 40px;
  margin-top: 20px;
  margin-left: 0px;
}

.Phone-info-call-service {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.phone-gap3 {
  width: max-content;
  height: 40px;
  margin-top: 20px;
  margin-left: 0px;
}

.Phone-info-call-library {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.phone-gap3:last-child {
  margin-bottom: 0px;
}

.senior-staff {
  width: max-content;
  height: 100px;
  flex-shrink: 0;
  margin-top: 40px;
  margin-left: 0px;
}

.senior-staff-block-name {
  width: max-content;
  height: 40px;
  margin-left: 0px;
}

.senior-staff-info-name {
  width: max-content;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 0px;
}

.senior-staff-block-email {
  width: max-content;
  height: 40px;
  margin-top: 20px;
  margin-left: 0px;
}

.senior-staff-email {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.maps {
  display: flex;
  flex-direction: column;
  width: 696px;
  height: 414px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 0px;
}

.maps {
  background: url(../img/Rectangle4.jpg), lightgray 50% / cover no-repeat;
}


/* digital-library-cards section */ 
.digital-library-cards {
  height: 614px;
  display: flex;
  flex-wrap: wrap;
  background: #FFF;
  position: relative;
}

.digital-library-box {
  width: 100%;
  height: 61px;
  flex-shrink: 0;
  text-align: center;
  margin-top: 20px;
}

.digital-library-title {
  width: max-content;
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.digital-library-line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
  margin-top: 20px;
}

.digital-library-card-box {
  width: 600px;
  height: 453px;
  flex-shrink: 0;
  margin-left: 20px;
}

.digital-library-card-text-box {
  width: 600px;
  height: 36px;
  margin-bottom: 30px;
}

.digital-library-card-box-text {
  width: max-content;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.digital-library-card-white-box {
  display: inline-block;
  width: 600px;
  height: 387px;
  padding-bottom: 0px;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 3px solid #BB945F;
  background: #FFF;
}

.digital-library-card-gold-box {
  display: block;
  width: 560px;
  height: 272px;
  flex-shrink: 0;
  background: #BB945F;
  margin: 20px 20px;
}

.digital-library-card-gold-box-text {
  width: max-content;
  height: 50px;
  padding-top: 20px;
  margin-left: 20px;
}

.card-gold-box-text {
  width: max-content;
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  margin-left: 0px;
}

.card-gold-box-input {
  display: flex;
  width: 520px;
  flex-direction: column;
  justify-content: space-between;
}

.card-gold-box-input input[type="text"] {
  width: 480px;
  height: 50px;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  margin-top: 20px;
  margin-left: 0px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  padding: 8px 20px;
}

.card-gold-box-input input[type="number"] {
  width: 480px;
  height: 50px;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  padding: 8px 20px;
  margin-top: 25px;
  margin-left: 0px;
}

.card-gold-box-input input[type="text"]:hover, input[type="text"]:focus
.card-gold-box-input input[type="number"]:hover, input[type="number"]:focus {
  color: #BB945F;
}

.digital-library-card-button {
  display: inline-flex;
  padding: 10px 40px;
  align-items: flex-end;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  margin-right: 179px;
  margin-bottom: 30px;
  margin-left: 179px;
  width: 162px;
  height: 24px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: #FFF;
}

.digital-library-card-button:hover {
  outline: none;
  background-color: #BB945F;
  border-color: #BB945F;
  transition: background-color 0.3s;
  cursor: pointer;
}

.digital-library-box-reader {
  width: 456px;
  height: 253px;
  flex-shrink: 0;
  margin-right: 20px;
}

.digital-library-box-reader-card {
  display: flex;
  width: max-content;
  height: 33px;
  margin-right: 0px;
  margin-bottom: 35px;
}

.reader-card-text {
  display: flex;
  width: max-content;
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-right: 0px;
}

.digital-library-box-reader-card-info {
  width: 456px;
  height: 120px;
  margin-right: 0px;
  margin-bottom: 35px;
}

.reader-card-info {
  width: 456px;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  word-wrap: break-word;
}

.digital-library-button-sign {
  display: flex;
  width: 456px;
  height: 30px;
  margin-right: 20px;
}

.button-box-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 10px;
  padding: 10px 0px;
  margin-right: 0px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFF;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.button-box-log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 10px;
  padding: 10px 0px;
  margin-right: 0px;
  margin-left: 20px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFF;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.button-box-log-in:hover,
.button-box-sign:hover {
  outline: none;
  background-color: #BB945F;
  border-color: #BB945F;
  cursor: pointer;
  transition: background-color 0.3s;
}


/* footer section */ 
.footer {
  height: 250px;
  background: #0C0C0E;
}

.footer__container {
  height: 250px;
  background: #0C0C0E;
}

.footer__container-frame6 {
  display: flex;
  height: 90px;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  padding: 20px 20px 30px 20px;
}

.frame5 {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
}

.frame5__adress {
  width: 229px;
  height: 40px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  text-decoration: none;
  margin-left: 0px;
}

.frame5__workschedule {
  width: 149px;
  height: 40px;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  margin-right: 0px;
}

.frame4 {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
  
.frame4__social {
  display: flex;
  width: 102px;
  height: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin-left: 0px;
}

.frame4__social-link {
  display: flex;
  width: 24px;
  height: 24px;
}

.frame4__social-link:active {
  background-color: #BB945F;
}

.frame4__social-img {
  width: 24px;
  height: 24px;
}

.frame4__workschedule {
  width: 149px;
  height: 40px;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  margin-right: 0px;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer__container-line {
  height: 1px;
  background: #FFF;
}

.footer__container-link {
  display: flex;
  height: 22px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 44px 20px;
}

.footer__link-form-date {
  display: flex;
  width: max-content;
  height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  align-items: center;
}

.footer__link-date {
  width: max-content;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
}

.footer__link-form-chool {
  display: flex;
  width: max-content;
  height: 22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.footer__link-chool {
  width: max-content;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-decoration: none;
}

.footer__link-form-link {
  display: flex;
  width: max-content;
  height: 22px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  margin-right: 0px;
  margin-left: 0px;
}

.footer__link-github {
  width: max-content;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-decoration: none;
}